@import "./base.less";
.flex-container {
  height: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 4em;
  margin-bottom: 10em;
  /* width:100%; */
  .header {
    display: flex;
    flex: 1;
  }
  .footer {
    flex: 1;
  }
}

header {
  //   @header();
  // 下面一个button
  background: url("image/home_1_2.jpg");
  // height: 100px;
  display: flex;
  flex-direction: column;
  //底部增加一个内padding
  padding-bottom: 50px;
  .logo {
    img {
      height: 100px;
    }
  }
  .main-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: wheat;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;

      li {
        padding-right: 1em;
        // 去掉li的圆点
        list-style: none;
      }
    }
  }
  .minor-title {
    display: flex;
    color: whitesmoke;
    // flex: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-size: 600;

    h4 {
      width: 50%;
    }
    button {
      background: rgba(212, 132, 28, 0.815);
      color: white;
      font-size: 20px;
    }
  }
}

.center {
  flex: 1;
  display: flex;
}

footer {
  background: url("image/home_1_2.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  .db-select {
    display: flex;
  }
  .members {
    display: flex;
    flex-direction: column;
    h4 {
      color: white;
    }
    img {
      margin-right: 0.25em;
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    h4 {
      color: white;
    }
  }
}

.bordered {
  border-style: solid;
  border-width: 1px;
}

.header-left {
  flex: 1;
  display: flex;
  margin-top: 2em;
}

.header-center {
  flex: 1;
  display: flex;
  margin-top: 2em;
}

.header-right {
  flex: 1;
  display: flex;
  margin-top: 2em;
}

.center-left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.center-right {
  flex: 1;
  padding-left: 2em;
  margin: 1em;
}

.detail-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.detail-card-icon {
  flex: 5;
}

.detail-card-body {
  flex: 5;
}

.center-left-card-head {
  flex: 1;
}

.center-left {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.center-left-card-head {
  flex: 1;
}

.center-left-card-body {
  flex: 6;
  display: flex;
  flex-direction: row;
}

.center-left-card-form {
  flex: 1;
  border-right: 1px solid white;
  padding-left: 1em;
}

.center-left-card-body:last-child {
  border-left: 0px none black;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.footer-card-header {
  flex: 1;
}

.footer-card-body {
  flex: 6;
  text-align: right;
  display: flex;
  justify-content: center;
}

.footer-card-body table {
  width: 90%;
  background: white;
  margin-bottom: 2em;
}

.blue-green-bg {
  color: white;
  background: rgb(51, 204, 204);
}

// .default-bg {
//     background: rgba(227, 227, 227);
// }

.detail-card-icon {
  overflow: hidden;
}
