/background/byCasablanca/proj/.idea/encodings.xml
/background/byCasablanca/proj/.idea/misc.xml
/background/byCasablanca/proj/.idea/modules.xml
/background/byCasablanca/proj/.idea/proj.iml
/background/byCasablanca/proj/.idea/vcs.xml
/background/byCasablanca/proj/.idea/workspace.xml
/background/byCasablanca/proj/.idea/inspectionProfiles
