/background/byCasablanca/proj/.idea/encodings.xml
/background/byCasablanca/proj/.idea/misc.xml
/background/byCasablanca/proj/.idea/modules.xml
/background/byCasablanca/proj/.idea/proj.iml
/background/byCasablanca/proj/.idea/vcs.xml
/background/byCasablanca/proj/.idea/workspace.xml
/background/byCasablanca/proj/.idea/inspectionProfiles
/background/byQY/config/ftpConfig.ini
/background/byQY/config<<<<<<< .mine





=======
/.idea
/background/byCasablanca/proj/.idea
/background/byQY/.idea
/background/byQY/core/__pycache__
/background/byQY/model/__pycache__

/venv
/webclient/package-lock.json
/webclient/public/images/product/data/ftpdownload
/.idea
/webclient/public/images/background/home_2_2.jpg
/webclient/public/images/background/home_1.png
/webclient/public/images/background/home_2.png
/webclient/public/images/background/home_2_3.jpg
/webclient/public/images/background/home_2_4.png
/webclient/public/images/background/home_3.png
/webclient/public/Data
/webclient/public/BUOY
/webclient/public/STATION
/webclient/public/images/product
config
/background/byQY/config/Config.ini
/background/byQY/config/*.ini
/.idea
/background/byQY/venv
/background/venv
/webclient/public/STATION
/webclient/public/BUOY
/background/.idea
/background/.vscode